<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="CommunityMapper">
	
	<resultMap id="postSelectMap" 		type="post">
		
		<result property="postNo"		column="post_no"		jdbcType="INTEGER"/>
		<result property="postType" 	column="post_type"		jdbcType="CHAR" />
		<result property="postName"		column="post_name"		jdbcType="VARCHAR" />
		<result property="postContent"	column="post_content"	jdbcType="VARCHAR" />
		<result property="regDate" 		column="reg_date" 		jdbcType="TIMESTAMP" />
		<result property="qnaRegType"	column="qna_reg_type"	jdbcType="CHAR" />
		<result property="qnaCode"		column="qna_code"		jdbcType="CHAR" />
		<result property="blindCode"	column="blind_code"		jdbcType="VARCHAR" />
		<result property="viewCount"	column="view_count"		jdbcType="INTEGER"/>
		<result property="commentCount" column="comment_count"  jdbcType="INTEGER"/>
		<result property="reportCount"  column="report_count"	jdbcType="INTEGER"/>
	
		<association property="user"  	javaType="user">
		<id		property="userId" 		column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 			jdbcType="VARCHAR" />
		<result property="nickname"		column="nickname"			jdbcType="VARCHAR"/>
		<result property="profile"		column="profile"			jdbcType="VARCHAR"/>
		<result property="genderCode"	column="gender_code"		jdbcType="CHAR"/>
		<result property="name"			column="name"				jdbcType="VARCHAR"/>
		<result property="address"		column="address"			jdbcType="VARCHAR"/>
		<result property="phone"		column="phone"				jdbcType="VARCHAR"/>
		<result property="phoneCode"	column="phone_code"			jdbcType="SMALLINT"/>
		<result property="userCode"		column="user-_code"			jdbcType="SMALLINT"/>
		<result property="role" 		column="role" 				jdbcType="CHAR" />
		<result property="regDate" 		column="reg_date" 			jdbcType="TIMESTAMP" />
		<result property="factoryNo"	column="factory_no"			jdbcType="VARCHAR"/>
		<result	property="cashCode"		column="cash_code"			jdbcType="CHAR"/>
		<result property="a5Price"		column="a5_price"			jdbcType="INTEGER"/>
		<result property="a4Price"		column="a4_price"			jdbcType="INTEGER"/>
		<result property="b5Price"		column="b5_price"			jdbcType="INTEGER"/>
		<result property="colorPrice"	column="color_price"		jdbcType="INTEGER"/>
		<result property="blackPrice"	column="black_price"		jdbcType="INTEGER"/>
		<result property="snowPrice"	column="snow_price"			jdbcType="INTEGER"/>
		<result property="montPrice"	column="mont_price"			jdbcType="INTEGER"/>
		<result property="artePrice"	column="arte_price"			jdbcType="INTEGER"/>
		<result property="whitePrice"	column="white_price"		jdbcType="INTEGER"/>
		<result property="ivoryPrice"	column="ivory_price"		jdbcType="INTEGER"/>
		<result property="roughPrice"	column="rough_price"		jdbcType="INTEGER"/>
		</association>
	</resultMap>


	<resultMap id="commentSelectMap" 		type="comment">
	
		<result property="commentNo"		column="comment_no"			jdbcType="INTEGER"/>
		<result property="commentContent"	column="comment_content"	jdbcType="VARCHAR"	/>
		<result property="regDate"			column="reg_date"			jdbcType="TIMESTAMP"		/>	
		<result property="parentCommentNo"	column="parent_comment_no"	jdbcType="INTEGER"/>
		<result property="postNo"			column="post_no"			jdbcType="INTEGER"/>
	
		
		<association property="user"  	javaType="user">
		<id		property="userId" 		column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 			jdbcType="VARCHAR" />
		<result property="nickname"		column="nickname"			jdbcType="VARCHAR"/>
		<result property="profile"		column="profile"			jdbcType="VARCHAR"/>
		<result property="genderCode"	column="gender_code"		jdbcType="CHAR"/>
		<result property="name"			column="name"				jdbcType="VARCHAR"/>
		<result property="address"		column="address"			jdbcType="VARCHAR"/>
		<result property="phone"		column="phone"				jdbcType="VARCHAR"/>
		<result property="phoneCode"	column="phone_code"			jdbcType="SMALLINT"/>
		<result property="userCode"		column="user-_code"			jdbcType="SMALLINT"/>
		<result property="role" 		column="role" 				jdbcType="CHAR" />
		<result property="regDate" 		column="reg_date" 			jdbcType="TIMESTAMP" />
		<result property="factoryNo"	column="factory_no"			jdbcType="VARCHAR"/>
		<result	property="cashCode"		column="cash_code"			jdbcType="CHAR"/>
		<result property="a5Price"		column="a5_price"			jdbcType="INTEGER"/>
		<result property="a4Price"		column="a4_price"			jdbcType="INTEGER"/>
		<result property="b5Price"		column="b5_price"			jdbcType="INTEGER"/>
		<result property="colorPrice"	column="color_price"		jdbcType="INTEGER"/>
		<result property="blackPrice"	column="black_price"		jdbcType="INTEGER"/>
		<result property="snowPrice"	column="snow_price"			jdbcType="INTEGER"/>
		<result property="montPrice"	column="mont_price"			jdbcType="INTEGER"/>
		<result property="artePrice"	column="arte_price"			jdbcType="INTEGER"/>
		<result property="whitePrice"	column="white_price"		jdbcType="INTEGER"/>
		<result property="ivoryPrice"	column="ivory_price"		jdbcType="INTEGER"/>
		<result property="roughPrice"	column="rough_price"		jdbcType="INTEGER"/>
		</association>
		
		
	</resultMap>

	<select id="getComment" parameterType="int" resultMap="commentSelectMap" >
		SELECT *
		FROM COMMENT c, user u, post p
		WHERE c.user_id = u.user_id 
		AND c.post_no = p.post_no
		AND c.comment_no = #{commentNo}
	</select>
	
	<select id="getCommentList" parameterType="int" resultMap="commentSelectMap" >
		SELECT *
		FROM (
		    SELECT inner_table.*
		    FROM (
		        SELECT p.post_no, u.user_id, u.nickname, u.profile, c.comment_no, c.comment_content, c.reg_date
		        FROM COMMENT c, user u, post p
		        WHERE c.user_id = u.user_id 
		        	  AND c.post_no = p.post_no
		        	  AND p.post_no = #{postNo}
		        ORDER BY c.comment_no
		    ) inner_table  
		) tmp
 	</select>
 	
 	
 	<select id="getCommentTotalCount" parameterType="int" resultType="int">
 		SELECT COUNT(*)
 		FROM (
 			SELECT p.post_no, u.user_id, u.nickname, u.profile, c.comment_no, c.comment_content, c.reg_date
	        FROM COMMENT c, user u, post p
	        WHERE c.user_id = u.user_id 
	        	  AND c.post_no = p.post_no
	        	  AND p.post_no = #{postNo}
	        ORDER BY c.comment_no
 		) count_table
 	</select>
 	
 	<select id="getMyCommentList" parameterType="map"	resultMap="commentSelectMap">
		SELECT * FROM ( SELECT 
					@rownum:=@rownum+1 num, c.*, u.nickname, u.profile
		    		FROM comment c, post p, user u, (SELECT @rownum:=0) init2
		         WHERE c.user_id = u.user_id 
		        	  AND c.post_no = p.post_no
		        	  AND c.user_id = #{userId}
		        ORDER BY c.comment_no DESC) inner_table
		WHERE num BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>

	<select id="getMyCommentListTotalCount" parameterType="string"	resultType="int">
		SELECT count(*) FROM (SELECT
								c.*, u.nickname, u.profile
		    					FROM comment c, post p, user u
		         				WHERE c.user_id = u.user_id 
		        	  			AND c.post_no = p.post_no
		        	  			AND c.user_id = #{userId} ) countable
	</select>
	
	<insert id="addComment"	parameterType="comment">
		INSERT INTO
		COMMENT(POST_NO, user_id, comment_content, parent_comment_no)
		VALUES(
				#{postNo:NUMERIC},
				#{user.userId:VARCHAR},
				#{commentContent:VARCHAR},
				#{parentCommentNo:NUMERIC}	
				)
	</insert>

	<update id="updateComment"	parameterType="comment">
		UPDATE COMMENT
		SET comment_content=#{commentContent:VARCHAR}
		WHERE comment_no = #{commentNo}
	</update>
	
	<delete id="deleteComment" parameterType="int" >
		DELETE
		FROM COMMENT
		WHERE comment_no = #{commentNo}
	</delete>

	<select id="getPost" parameterType="int" resultMap="postSelectMap" >
		SELECT *
		FROM post p, user u
		WHERE p.user_id = u.user_id AND p.post_no = #{postNo}
	</select>
	
	<select id="getPostList" parameterType="map" resultMap="postSelectMap" >
		SELECT * FROM (SELECT 
						@rownum:=@rownum+1 num, p.*, u.nickname
						FROM post p, user u, (SELECT @rownum:=0) init2
						where p.user_id = u.user_id
						<if test='post.postType=="n"'>
						AND p.post_type LIKE "n"
						</if>
						<if test='post.postType=="f"'>
						AND p.post_type LIKE "f"
						</if>
						<if test="search.searchCondition==0">
						AND p.post_name like '%${search.searchKeyword}%'
						</if>
						<if test="search.searchCondition==1">
						AND p.post_content like '%${search.searchKeyword}%'
						</if>
						<if test="search.searchCondition==2">
						AND p.user_id like '%${search.searchKeyword}%'
						</if>
						ORDER BY p.post_no DESC) inner_table
		WHERE num BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>
	
	<select  id="getPostTotalCount"  parameterType="map"	 resultType="int">
		SELECT count(*) FROM (SELECT
								p.*, u.nickname
								FROM post p, user u
								where p.user_id = u.user_id
								<if test='post.postType=="n"'>
								AND p.post_type LIKE "n"
								</if>
								<if test='post.postType=="f"'>
								AND p.post_type LIKE "f"
								</if>
								<if test="search.searchCondition==0">
								AND p.post_content like '%${search.searchKeyword}%'
								</if>
								<if test="search.searchCondition==1">
								AND p.post_name like '%${search.searchKeyword}%'
								</if>
								<if test="search.searchCondition==2">
								AND p.user_id like '%${search.searchKeyword}%'
								</if>
								
								) countable		
	</select>
	
	<select id="getMyPostList" parameterType="map"	resultMap="postSelectMap">
		SELECT * FROM (SELECT 
						@rownum:=@rownum+1 num, p.*, u.nickname
						FROM post p, user u, (SELECT @rownum:=0) init2
						where p.user_id = u.user_id
						<if test='user.role != "a"'>
						AND p.user_id = #{user.userId}
						</if>
						<if test='menu != "q"'>
						AND p.post_type IN("n","f")
						</if>
						<if test='menu == "q"'>
						AND p.post_type IN("q")
						</if>
						
						ORDER BY p.post_no DESC) inner_table
		WHERE num BETWEEN #{search.startRowNum} AND #{search.endRowNum}
		
	</select>

	<select id="getMyPostListTotalCount" parameterType="string"	resultType="int">
		SELECT count(*) FROM (SELECT
								p.*, u.nickname
								FROM post p, user u
								where p.user_id = u.user_id
								<if test='user.role != "a"'>
								AND p.user_id = #{user.userId}
								</if>
								<if test='menu != "q"'>
								AND p.post_type IN("n","f")
								</if>
								<if test='menu == "q"'>
								AND p.post_type IN("q")
								</if>
								
							  ) countable	
	</select>
	 
	 
	 
	<insert id="addPost"  parameterType="post">
		INSERT INTO
		post(post_type, qna_reg_type, qna_code, user_id, post_name, post_content)
		VALUES(  
				#{postType:CHAR}, 
				#{qnaRegType:CHAR}, 
				#{qnaCode:CHAR}, 
				#{user.userId:VARCHAR},
				#{postName:VARCHAR}, 
				#{postContent:VARCHAR}
				)
	</insert>

							
	<update id="updatePost" parameterType="post" >
		UPDATE post
		SET
			post_name=#{postName},
			post_content=#{postContent}
		WHERE post_no = #{postNo}
	</update>
	
	<delete id="deletePost" parameterType="int" >
		DELETE
		FROM post
		WHERE post_no = #{postNo}
	</delete>
	
	<update id="updateViewCount" parameterType="int">
	 	UPDATE post
	 	SET
	 		view_count = view_count + 1
		WHERE post_no = #{postNo}
	</update>
	
	



</mapper>