<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PublishMapper">

	<resultMap id="publishSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="INTEGER"/>
		<result property="prodType"			column="prod_type" 			jdbcType="VARCHAR" />
		<result property="prodName"	 		column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail"	 	column="prod_detail" 		jdbcType="LONGVARCHAR" />
		<result property="retailPrice" 		column="retail_price" 		jdbcType="INTEGER" />
		<result property="printPrice"		column="print_price"		jdbcType="INTEGER"/>
		<result property="blindCode"		column="blind_code" 		jdbcType="VARCHAR" />
		<result property="prodThumbnail" 	column="prod_thumbnail"		jdbcType="VARCHAR" />
		<result property="coverFile" 		column="cover_file" 		jdbcType="VARCHAR"  />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="discountCode"		column="discount_code"		jdbcType="VARCHAR" />
		<result property="creator"			column="creator"			jdbcType="VARCHAR"/>
		<result property="author"			column="author"				jdbcType="VARCHAR"/>
		<result property="purposeCode"		column="purpose_code"		jdbcType="VARCHAR"/>
		<result property="manuFile"			column="manu_file"			jdbcType="VARCHAR"/>
		<result property="bookPage"			column="book_page"			jdbcType="INTEGER"/>
		<result property="colorType"		column="color_type"			jdbcType="VARCHAR"/>
		<result property="sizeType"			column="size_type"			jdbcType="VARCHAR"/>
		<result property="coverType"		column="cover_type"			jdbcType="VARCHAR"/>
		<result property="innerType"		column="inner_type"			jdbcType="VARCHAR"/>
		<result property="tempCode"			column="temp_code"			jdbcType="SMALLINT"/>
		<result property="factoryId.userId" column="factory_id"			jdbcType="VARCHAR"/>
		<result property="likeCount" 		column="like_count"			jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert		id="insertPublish"	parameterType="product" >
	 	INSERT 
	 	INTO 
	 	product(prod_type,creator) 
	 	VALUES (#{prodType},#{creator})
	</insert>
	
	<select		id="getPublishNo"	parameterType="String" 	resultType="int">
	 	SELECT prod_no 
	 	FROM product 
	 	WHERE creator IN(#{value})
	 	ORDER BY reg_date DESC LIMIT 1
	</select>
	
	<select		id="getPublish"	parameterType="int" 	resultMap="publishSelectMap">
	 	SELECT * 
	 	FROM product 
	 	WHERE prod_no IN(#{value})
	</select>
	
	<insert		id="addProduct"		parameterType="product">
		INSERT
		INTO
		product(prod_type, prod_name, prod_thumbnail, cover_file, prod_detail, retail_price, discount_code, creator )
		VALUES (#{prodType), #{prodName}, #{prodThumbnail}, #{coverFile:VARCHAR}, #{prodDetail}, #{retailPrice}, #{discountCode}, #{creator})
	</insert>

</mapper>
 	